Title: "快速週表產生器"
---
@{
    string ChangeToOutputPathWorkaround(string path){
        if (!path.EndsWith(".cshtml"))
            return path;
        
        return path.Replace("_", string.Empty)
            .Replace(".cshtml", string.Empty);
    }
}

<section class="template_list"></section>

<script>
    const templates = [
        @foreach(var template in Document.GetDocumentList("AllTemplates").OrderByDescending(template => template.GetDateTime(WebKeys.Published))){
            <text>
                {Link: '@ChangeToOutputPathWorkaround(template.GetLink())', 
                Title: '@template.GetString("Title")',
                Thumbnail: '@template.GetString("Thumbnail")',
                Published: '@template.GetDateTime("Published").ToString("yyyy/MM/dd")',
                Author: '@template.GetString("Author")'},
            </text>
        }
    ]

    function getTemplateComponent(template){
        return `<div class="template">` +
            `<a href='${template.Link}' class="thumbnail"><img src="${template.Thumbnail}" alt="${template.Title}" loading="lazy" /></a>` +
            `<h3><img src="/images/calendar-svgrepo-com.svg" alt="時間" class="title_icon"/>${template.Published}</h3><h3><img src="/images/person-svgrepo-com.svg" alt="作者或主辦者" class="title_icon"/>${template.Author}</h3>` +
            `<h2><a href='${template.Link}'>${template.Title}</a></h2>` +
            `</div>`;
    }

    function printTemplates(templates){
        let templateList = document.querySelector(".template_list");

        templateList.innerHTML = "";
        for(let template of templates){
            templateList.innerHTML += getTemplateComponent(template);
        }
    }

    printTemplates(templates);
</script>